Inputfile;Field;Stringposition;Values;Aggregation;Otherfieldfilter;Variable
Stamm;Geschlecht;;;max;Bezugsjahr$=$2012;Geschlecht
Stamm;Alter;;;min;Bezugsjahr$=$2012;Alter
Stamm;Verstorben;;1-1;;Bezugsjahr$=$2012;Verstorben
Stamm;Vers_Tage;;;max;Bezugsjahr$=$2012;Vers_Tage
Ambulant;ICD_CODE;1-3;;Count;Bezugsjahr$=$2012;AICD_$
Stationaer;ICD_CODE;1-3;;Count;Bezugsjahr$=$2012;SICD_$
Arzneimittel;ATC_CODE;1-4;;Count;Bezugsjahr$=$2012;ATC_$
Arzneimittel;Betrag_Brutto;;;SUM;Bezugsjahr$=$2012;AM_BETRAG
Region;Bundesland;;;;Bezugsjahr$=$2012;BL_$
Kosten;GLK;;;SUM;Bezugsjahr$=$2012;GLK_2012
Kosten;GLK;;;SUM;Bezugsjahr$=$2013;GLK_2013
Kosten;Apotheke;;;SUM;Bezugsjahr$=$2012;Apotheke_2012
Kosten;Apotheke;;;SUM;Bezugsjahr$=$2013;Apotheke_2013
Kosten;Arzt;;;SUM;Bezugsjahr$=$2012;Arzt_2012
Kosten;Arzt;;;SUM;Bezugsjahr$=$2013;Arzt_2013
Kosten;Krankenhaus;;;SUM;Bezugsjahr$=$2012;Krankenhaus_2012
Kosten;Krankenhaus;;;SUM;Bezugsjahr$=$2013;Krankenhaus_2013
