Inputfile;Field;Stringposition;Values;Aggregation;Variable
Stamm;Geschlecht;;;mean;Geschlecht
Stamm;Alter;;20-29;;AG_3
Stamm;Alter;;30-39;;AG_4
Ambulant;ICD;1-3;;;AICD_$
Ambulant;ICD;1-2;F3;;CL_F3
Ambulant;ICD;1-3;M54;;CL_M54
Stationaer;ICD;1-3;;;SICD_$
Stationaer;ICD;1-2;F3;;CL_F3
Arzneimittel;ATC;1-4;;;ATC_$
