Variable;VarBerechnung;VarAggregation;VarFilter;Einschluss;Ausschluss;Target;hideme;Datei;Spalte1;Filter1;Spalte2;Filter2;Spalte3;Filter3;
#Variables from ddi base itself 
start;DATE($1);;;;;;true;ddi;startdate;;;;;;;;;
end;DATE($1);;;;;;true;ddi;enddate;;;;;;;;;
DOSE_$1;;;;;;;;ddi;PACKUNGSGROESSE;;;;;;;;;
META_$1;;;;;;;;ddi;META_ID;;;;;;;;;
ATC_$1;VALUE($start)-DATE($2)+VALUE(1);MIN;1-365;;;;;Arzneimittel2012;ATC_Code(1-4);;Abgabedatum;;;;;;;
