Variable;VarBerechnung;VarAggregation;VarFilter;Einschluss;Ausschluss;Target;hideme;Datei;Spalte1;Filter1;Spalte2;Filter2;Spalte3;Filter3;
#Variables from ddi base itself 
start;DATE($1);;;;;;true;ddi;startdate;;;;;;;;;
end;DATE($1);;;;;;true;ddi;enddate;;;;;;;;;
#DOSE_$1;;;;;;;;ddi;PACKUNGSGROESSE;;;;;;;;;
META_$1;;;;;;;;ddi;META_ID;;;;;;;;;
#standard variables
Geschlecht;value($1)-value(1);max;;;;;;Stamm;Geschlecht;;;;;
Alter;AGE($1);max;;;;;;Stamm;Geburtsdatum;;;;;
#Variables dependend on Index dates
#AICD_$1;VALUE($start)-DATE($2)+VALUE(1);MIN;1-365;;;;;arzt_diagnose;ICD_Code(1-3);;date_yyq;;;;;;;
SICD_$1;VALUE($start)-DATE($2)+VALUE(1);MIN;1-365;;;;;kh_diagnose;ICD_Code(1-3);;Entlassungsdatum;;;;;;;
ATC_$1;VALUE($start)-DATE($2)+VALUE(1);MIN;1-365;;;;;Arzneimittel;ATC_Code(1-4);;Abgabedatum;;;;;;;
#Targets... 1 week
KH_ALL;DATE($2)-VALUE($start)+VALUE(1);MIN;1-7;;;true;;kh_diagnose;ICD_Code(1-3);;Entlassungsdatum;;;;;;;
KH_NEG;DATE($2)-VALUE($start)+VALUE(1);MIN;1-7;;;true;;kh_diagnose;ICD_Code(1-3);(C:\\Users\\hellwigp\\Documents\\5 Research\\59 Projekte\\DDI\\Source_Data\\icd3_allowed_NEG.csv);Entlassungsdatum;;;;;;;
KH_SPEC_MI1;DATE($2)-VALUE($start)+VALUE(1);MIN;1-7;;;true;;kh_diagnose;ICD_Code(1-3);(C:\\Users\\hellwigp\\Documents\\5 Research\\59 Projekte\\DDI\\Source_Data\\icd3_spec_MI_01.csv);Entlassungsdatum;;;;;;;
KH_SPEC_MI3;DATE($2)-VALUE($start)+VALUE(1);MIN;1-7;;;true;;kh_diagnose;ICD_Code(1-3);(C:\\Users\\hellwigp\\Documents\\5 Research\\59 Projekte\\DDI\\Source_Data\\icd3_spec_MI_03.csv);Entlassungsdatum;;;;;;;