Datentyp;Spalte;Stringposition;Wertefilter;Aggregation;AndereSpalteFilter;Variable;Einschluss;Ausschluss
#First line is header line
#Always required:
#   Datentyp: refers to base xml configuration
#   Spalte: column name from csv header, or from Satzart official definition)
#   Variable: profile variable name; the optional "$" is replaced by Column content
#Optional:
#	Stringposition: which substring of column to use, e.g. 5-8 (counting from 1)
#	Wertefilter: which values are allowed for this variable, e.g. E11 or E10-E11 or E10- or -E12 (considers stringposition if given)
#	Aggregation: how to calc variable from "Wert der Spalte", e.g. SUM, COUNT, OCCURRENCE (=default), MEAN, MIN, MAX, CONSTANT(x) - with x some constant value, MAXDISTANCE
#		CAVE! only one aggregation type per "Variable"! (Variables might combine several columns, but must have same aggregation)
# 	AndereSpalteFilter: row is considered only if true; operators: =, >=, <=,>,<; multiple entries connected by AND; e.g. Bezugsjahr$=$2012$Quarter$<$4
#	Einschluss: if true, only patients with such a variable are considered (default: all patients); multiple are OR-connected
# 	Ausschluss: if true, patients with such a variable are excluded; multiple are OR-connected
#
#Aggregation bei Geschlecht und Alter (min/max), falls mehrfache Einträge (z.B. in mehreren Jahren)
Stamm;Geschlecht;;;max;;Geschlecht;;
Stamm;Alter;;;max;;Alter;;
#Verstorben: Zähle nur, wenn 1, und include
Stamm;Verstorben;;1;;;Verstorben;;
#ICD: 3 Stellen, Anzahl (Count)
Ambulant;ICD_CODE;1-3;;Count;Bezugsjahr$=$2006;AICD_$;;
Stationaer;ICD_CODE;1-3;;Count;Bezugsjahr$=$2006;SICD_$;;
Arzneimittel;ATC_CODE;1-4;;Count;Bezugsjahr$=$2006;ATC_$;;
Arzneimittel;Betrag_Brutto;;;SUM;Bezugsjahr$=$2006;AM_BETRAG;;
#Einschluss1: ATC
Arzneimittel;ATC_CODE;1-4;N02B;;Bezugsjahr$=$2006;EIN;True;
#Einschluss2: Geschlecht
Stamm;Geschlecht;;1;;;EIN;True;
#Ausschluss1: ICD
Ambulant;ICD_CODE;1-3;D39;Count;Bezugsjahr$=$2006;AUS;;True
#CONSTANT and MAXDISTANCE
Stamm;Geschlecht;;;constant(4);;const;;
Ambulant;Behandl_Quartal;;;MAXDISTANCE;;dist;;
