Datei;Variable;Spalten;Filter;Berechnung;VarAggregation;Einschluss;Ausschluss;hideme
#First line is header line
#Always required:
#   Datei: refers to base xml configuration
#   Variable: profile variable name; the optional "$x" is replaced by Column content (x = number of column as defined in "Spalte", starting with 1)
#   Spalte: column names from csv header, or from Satzart official definition,
#			multiple separated by !
#			SubStrings in brackets, e.g. ICD(1-3)
#Optional:
#	Filter: which values are allowed for a row processed and for this variable
#				$0 refers to variable itself (after calculation)
#				$x refers to Spalte
#				Separator: !
#				operators: =, >=, <=,>,<;
#				multiple are AND connected
# 	Berechnung:  how to calc variable from "Spalten"
#					VALUE(x) for constant, VALUE($x) for Spalte, VALUE(V(Y)) for other Variable as named here, DATE($x) for calculating no. of days from 01/01/2008
#					[if empty: 1 for occurence]
#				combine with + and -
#	VarAggregation: how to aggregate multiple same-named variables
#				e.g. SUM, COUNT, OCCURRENCE (=default), MEAN, MIN, MAX, MAXDISTANCE
#				CAVE! only one aggregation type per "Variable"! (Variables might combine several columns, but must have same aggregation)
#	Einschluss: if true, only patients with such a variable are considered (default: all patients); multiple are OR-connected
# 	Ausschluss: if true, patients with such a variable are excluded; multiple are OR-connected
#	hideme: if true, variable will not be output
#
#Aggregation bei Geschlecht und Alter (min/max), falls mehrfache Einträge (z.B. in mehreren Jahren)
Stamm;Geschlecht;Geschlecht;;value($1);;;;
Stamm;Alter;Alter;;value($1);max;;;
#Verstorben: Zähle nur, wenn 1,excude
Stamm;Verstorben;Verstorben;$1!=!1;;;;true;
#ICD: 3 Stellen, Anzahl (Count)
Ambulant;AICD_$1;ICD_CODE(1-3)!Bezugsjahr;$2!=!2006;Count;;;
Stationaer;SICD_$1;ICD_CODE(1-3)!Bezugsjahr;$2!=!2006;Count;;;
Arzneimittel;ATC_$1;ATC_CODE(1-4)!Bezugsjahr;$2!=!2006;Count;;;
#SUM over all costs
Arzneimittel;AM_BETRAG;Betrag_Brutto!Bezugsjahr;$2!=!2006;SUM;;;
#Einschluss1: ATC
Arzneimittel;EIN;ATC_CODE(1-4)!Bezugsjahr;$2!=!2006!$1!=!N02B;;true;;
#Einschluss2: Geschlecht
Stamm;EIN;Geschlecht;$1!=!1;;;true;;
#Ausschluss1: ICD
AmbulantAUS;ICD_CODE(1-3)!Bezugsjahr;$2!=!2006!$1!=!D39;;;True;
#Berechnungen and MAXDISTANCE
Stationaer;dist;Behandl_Quartal;;VALUE($1);MAXDISTANCE;;;
Ambulant;mindate;date_yyq;;DATE($1);min;;;
Ambulant;maxdate;date_yyq;;DATE($1);max;;;
Ambulant;diffdate;;;value(v(mindate))-value(v(maxdate))+value(4);max;;;
